<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#icon').click(function () {
                $('ul').toggleClass('show');
            });
        });
    </script>
    <title>About us | KnowledgeSphere</title>
</head>

<body>
    <main>
        <nav>
            <label class="logo">KnowledgeSphere</label>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/displayAboutUs">About us</a></li>
                <li><a href="/">Question and Answer</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>
            <label id="icon">
                <i class="fa fa-bars"></i>
            </label>
        </nav>
        <section>
            <header>
                <div>
                    <h1>About us</h1>
                    <h3>Welcome to our KnowledgeSphere website, a platform designed to connect people from all walks of
                        life by facilitating the
                        exchange of knowledge and expertise.
                        This platform is built upon the principle that everyone has valuable insights and experiences to
                        share, and by harnessing the collective wisdom of our community, we can find answers to a wide range of questions. Whether
                        you're seeking information, looking to share your expertise, or simply enjoy engaging in intellectual discussions,
                        you've come to the right place.

                    </h3>
                </div>
            </header>
        </section>
    </main>

</body>

</html>