<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
</head>

<body>
    <div class="sidenav">
        <a href="/">
            <h1 id="label">E<span id="word">by</span>S</h1>
        </a>
        <div class="links">
            <a href="/">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="/QandA">Qs & As</a>
            <a href="#">Article</a>
            <a href="#">LogOut</a>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <h3>Welcome Hamada</h3>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="contant">
        <header>
            <h1>Learn Online</h1>
        </header>
        <div>

        </div>
        <hr> 
        <div class="courses">
            <div class="course">
                <a href="#" ><h2>course name</h2></a>
                <hr>
                <p>name of university</p>
            </div>
            <div class="course">
                <a href="#" ><h2>course name</h2></a>
                <hr>
                <p>name of university</p>
            </div>
            <div class="course">
                <a href="#" ><h2>course name</h2></a>
                <hr>
                <p>name of university</p>
            </div>
            <div class="course">
                <a href="#" ><h2>course name</h2></a>
                <hr>
                <p>name of university</p>
            </div>
            <div class="course">
                <a href="#" ><h2>course name</h2></a>
                <hr>
                <p>name of university</p>
            </div>
        </div>
    </div>


</body>

</html>