<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/answer.css' %}">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#icon').click(function () {
                $('ul').toggleClass('show');
            });
        });
    </script>
    <title>Edit</title>
</head>

<body>
    <main>
        <nav>
            <label class="logo">KnowledgeSphere</label>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/displayAboutUs">About us</a></li>
                <li><a href="/displayAllQuestion">Question and Answer</a></li>
                <li><a href="/signin">Sign in</a></li>
            </ul>
            <label id="icon">
                <i class="fa fa-bars"></i>
            </label>
        </nav>
        <section>
            <header>
                <div>
                    <h1>Edit your Question</h1>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="content">
                <nav>
                    <label class="logo">Welcome, {{user.username}}</label>
                    <ul>
                        <li><a href="/displayUsers">Users</a></li>
                        <li><a href="/distroy">Log Out</a></li>
                    </ul>
                    <label id="icon">
                        <i class="fa fa-bars"></i>
                    </label>
                    <hr>
                </nav>
                <div class="questionForm">
                    <div class="box">
                        <form action="/editQuestion/{{questions.id}}" method="post">
                            {% csrf_token %}
                            <h4>Title: {{questions.message_text}}</h4>
                            <textarea type="text" name="message_text" placeholder="Edit your question"></textarea>
                            <h4>Description: {{questions.desc}}</h4>
                            <textarea type="text" name="desc" placeholder="Edit your description"></textarea>
                            <input type="submit" value="Edit" class="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>