<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions and Answers</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/QandA.css' %}">
</head>

<body>
    <div class="sidenav">
        <a href="/">
            <h1 id="label">E<span id="word">by</span>S</h1>
        </a>
        <div class="links">
            <a href="/">Home</a>
            <a href="/displayAboutUs">About Us</a>
            <a href="/displayAllQuestion">Qs & As</a>
            <a href="/all_subject">Courses</a>
            <a href="/destroy">LogOut</a>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <h3>Welcome {{user.username}}</h3>
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="contant">
        <header>
            <h1>Top Questions</h1>
            <a href="/displayFormQuestion"><button>Add Question</button></a>
        </header>
        <hr>
        {% for question in questions%}
        <div>
            <ul class="qusestions">
                <li><a href="/displayAnswerFrom/{{question.id}}">{{question.message_text}}</a></li>
                <li>Created by {{question.user.username}}</li>
                <li>{{question.created_at}}</li>
            </ul>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>

</html>