<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/answer.css' %}">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#icon').click(function () {
                $('ul').toggleClass('show');
            });
        });
    </script>
    <title>Add Answer</title>
</head>

<body>
    <main>
        <nav>
            <label class="logo">KnowledgeSphere</label>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/displayAboutUs">About us</a></li>
                <li><a href="/displayAllQuestion">Question and Answer</a></li>
                <li><a href="/signin">Sign in</a></li>
            </ul>
            <label id="icon">
                <i class="fa fa-bars"></i>
            </label>
        </nav>
        <section>
            <header>
                <div>
                    <h1>Answer the Question</h1>
                    <h3>Answering questions allows individuals to share their knowledge, expertise, and experiences with
                        others. It gives them an opportunity to contribute to the collective wisdom of the community and
                        help others seeking information or solutions.</h3>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="content">
                <nav>
                    <label class="logo">Welcome, {{user.username}}</label>
                    <ul>
                        <li><a href="/displayUsers">Users</a></li>
                        <li><a href="#">Log out</a></li>
                    </ul>
                    <label id="icon">
                        <i class="fa fa-bars"></i>
                    </label>
                    <hr>
                </nav>
                <div class="questionForm">
                    {% for comment in questions.comments.all%}
                    <div class="box">
                        <h3>This comment created by {{comment.user.username}} at {{comment.created_at}}
                            {% if comment.user.id == user.id %}
                            <a href="/delete/{{comment.id}}/{{questions.id}}">Delete</a>
                            <a href="/displayEditComment/{{comment.id}}/{{questions.id}}">Edit</a>
                            {% endif %}
                        </h3>
                        <p class="commentText">{{comment.comment_text}}</p>
                        <form action="/PostComment" method="post" class="commentForm">
                            {% csrf_token %}
                            <input type="submit" value="Post Comment" class="submit">
                            <textarea name="message_post" placeholder="Post comment"></textarea>
                        </form>
                    </div>
                    {% endfor%}
                    <div class="box">
                        <form action="/addAnswer/{{questions.id}}" method="post">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <h3>This question created by {{questions.user.username}}, {{questions.created_at}}
                                        {% if questions.user.id == user.id %}
                                        <a href="/deleteQuestion/{{questions.id}}">Delete</a>
                                        <a href="/displayEditFromQuestion/{{questions.id}}">Edit</a>
                                        {% endif %}
                                    </h3>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>Title:</h3>
                                        <h4>{{questions.message_text}}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>Description:</h3>
                                        <h5>{{questions.desc}}</h5>
                                    </td>
                                </tr>
                            </table>

                            <textarea type="text" name="comment_text" placeholder="Answer"></textarea>
                            <input type="submit" value="Answer" class="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>