<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Educate by yourself</title>
</head>

<body>
    <div class=container>
        <header>
            <h1 id="label">E<span id="word">by</span>S</h1>
            <h3><a href="/signin" id="login">Sign in</a><a href="#" id="login">Log out</a></h3>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/displayAboutUs">About Us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Courses</a>
                    <div class="dropdown-content">
                        <p>Courses by Subjects</p>
                        <a href="#">Math</a>
                        <a href="#">Physics</a>
                        <a href="#">Biology</a>
                        <a href="/all_subject">All Subjects</a>
                    </div>
                <li><a href="/displayAllQuestion">Qs <span class="letters">&</span> As</a></li>
            </ul>
        </nav>
        <hr>
        <h2 class="title">Introduction:
            <h3 class="paragraph">Welcome to Educate by self (EbyS) website, a platform dedicated to empowering learners
                of all backgrounds. We believe
                that education is the key to personal and societal progress, and our goal is to provide valuable content
                to support your learning journey. Whether you're a student, educator, or lifelong learner, we have
                something for
                everyone. Let's dive in and unlock the power of education together!</h3>
        </h2>
        <hr>
        <h2 class="title">
            <h3></h3>
        </h2>
    </div>


</body>

</html>